<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>У вас есть непроверенные карточки!</h1>
    <p>
      Количество: <%= @cards_count %>
    </p>
    <p>
      Для того, чтобы войти в приложение, просто пройдите по следующей ссылке: <%= link_to 'Banana-sundae', @url %>
    </p>
    <p>Удачи!</p>
  </body>
</html>
