<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have unchecked flashcards!</h1>
    <p>
      Count: <%= @cards_count %>
    </p>
    <p>
      To login to the site, just follow this link: <%= link_to 'Banana-sundae', @url %>
    </p>
    <p>Good luck!</p>
  </body>
</html>
