<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>У вас есть непроверенные карточки!</h1>
    <p>
      Количество: <%= @cards_count %>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>
    </p>
    <p>Удачи!</p>
  </body>
</html>
