<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Добро пожаловать в приложение "Флешкарточкер"!</h1>
    <p>
      Вы успешно зарегистрировались на banana-sundae,
      Ваш логин: <%= @user.email %>.<br>
    </p>
    <p>
      Для того, чтобы войти в приложение, просто пройдите по следующей ссылке: <%= link_to 'Banana-sundae', @url %>
    </p>
    <p>Спасибо за то, что используете мое приложение и удачного Вам дня!</p>
  </body>
</html>
